body.body--dark {
  /* background: #272727; */
  --q-color-secondary: #243133;
  --q-color-dark: #272727;
  --q-color-warning: #FFE400;
  --q-color-positive: #137950;
  --q-color-negative: #FF652F;
  --q-color-primary: #15cf7e;
  --q-color-accent: #12e3ea;
  --q-color-info: #59f1ea;
  --q-color-fontColor: #ffffff;
}

body.body--light {
  /* background: #f8fafa; */
  --q-color-primary: #2900df;
  --q-color-secondary: #c4d9f1d0;
  --q-color-warning: #e9cf5b;
  --q-color-accent: #fd6f53;
  --q-color-negative: #f33131;
  --q-color-dark: #e7f1f1;
  --q-color-positive  : #78b342;
  --q-color-info: #37c5b2;
  --q-color-fontColor: #47474e;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir-font-v16.1.0/Vazir.eot');
  src: url('../fonts/vazir-font-v16.1.0/Vazir.eot#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir.woff2') format('woff2'),
    url('../fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Bold.eot');
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Medium.eot');
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Medium.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Light.eot');
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Light.woff2') format('woff2'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Thin.eot');
  src: url('../fonts/vazir-font-v16.1.0/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Thin.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.vazirfont {
  font-family: 'vazir';
}

* {
  font-family: 'vazir';
}

div {
  color: 'secondary'
  /* background-color: $grey-5; */
}
.q-header {
  color: var(--q-color-fontColor);
}

.q-table {
  /* background: #FF652F; */
  color: var(--q-color-fontColor);
}
.q-card {
  color: var(--q-color-fontColor);
}
.q-table__title {
  color: var(--q-color-primary);
}

table thead tr {
  background:var(--q-color-secondary);
}

/* .card-size {
  width: 100%;
  height: 100%;
  border-radius: 20%;
} */
